[mysqld]
log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/slow-query.log
slow_query_log = ON
long_query_time = 0.0
log_output = FILE
# general_log = OFF 計測が終わったら上記をコメントアウトしこの行を追加
skip-log-bin

# ファイルディスクリプタ設定/警告参照(`Buffered warning: Changed limits: max_open_files`)
open_files_limit = 8192
# 最大同時接続数/エラー参照(too many connections)
max_connections = 1024

# ログを1秒単位で吐く
innodb_flush_log_at_trx_commit = 0
# InnoDB と OS のダブルバッファリングを防ぐ
innodb_flush_method = O_DIRECT
# データとインデックスがロードされるメモリ領域/搭載メモリの80%目安/defaultは128MB ※1GB↔︎1024M
innodb_buffer_pool_size = 1600MB
# InnoDBの更新ログを記録するディスク上の領域/innodb_buffer_pool_sizeの25%目安/defaultは96MB
innodb_log_file_size = 400MB
# * InnoDBの更新ログを記録するメモリ領域/defaultは16MB
# * innodb_log_buffer_size = 16MB
# テーブルスペースへの二重書き込み処理を無効化
innodb_doublewrite = 0
# クライアントの DNS 逆引きを止める
# localhost ではなく IP アドレスでホストを指定する必要性(grant all privileges on isucondition.* to isucon@127.0.0.1 identified by 'isucon’;)
# skip-name-resolve

# メモリに余裕がある場合はクエリをキャッシュ!!!!
# query_cache_type = 1
# query_cache_size = 1M -> 128Mとか(default) free -mtで空き容量確認
